# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debuging
.gdb_history
gdb.sh

# validate-commit-msg
node_modules/*
package-lock.json
package.json
.vcmrc

bin/*
.vscode/*
compile_commands.json

.cache
